[submodule "vendor/emacs-powerline"]
	path = vendor/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule "vendor/popup-el"]
	path = vendor/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "vendor/ac-nrepl"]
	path = vendor/ac-nrepl
	url = https://github.com/clojure-emacs/ac-nrepl
